<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhd.myolapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:fitsSystemWindows="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SetipActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".WindActivity">
            <intent-filter>
                <action android:name="android.intent.action.WIND" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LightActivity">
            <intent-filter>
                <action android:name="android.intent.action.LIGHT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AppliancesActivity">
            <intent-filter>
                <action android:name="android.intent.action.APPLIANCES" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AnfangActivity">
        <intent-filter>
            <action android:name="android.intent.action.ANFANG" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    </application>

</manifest>